html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: Muli, sans-serif;
  color: #40464f; }

.container {
  width: 1200px;
  margin: 0 auto; }

h1 {
  font-size: 50px;
  line-height: 1.28; }

h2 {
  width: 100%;
  font-size: 35px;
  color: #40464f; }

h3 {
  font-size: 26px;
  color: #40464f; }

.text-container {
  margin: 30px 0; }

/**
  Lesson 2 homework
 */
.img-background {
  height: 400px;
  width: 100%;
  background: url("../img/desert.jpeg") no-repeat center;
  background-size: cover;
  display: table;
  position: relative; }
  .img-background .overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .img-background .img-text {
    display: table-cell;
    padding: 150px;
    font-size: 38px;
    color: #fff;
    vertical-align: middle; }
    .img-background .img-text p {
      text-align: center;
      position: relative; }
      .img-background .img-text p::after {
        content: close-quote;
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: grey; }
      .img-background .img-text p::before {
        content: open-quote;
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: grey; }
    .img-background .img-text .quote-author {
      font-size: 80%;
      font-style: italic;
      text-align: right; }

.cube-3d {
  perspective: 2500px;
  perspective-origin: -600px -1000px;
  height: 100%; }
  .cube-3d .cube-container {
    transform-style: preserve-3d;
    position: relative;
    height: 250px;
    width: 250px;
    margin: 300px auto; }
    .cube-3d .cube-container .side {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .cube-3d .cube-container .side.front {
        background: #1abc9c;
        transform: translateZ(125px); }
      .cube-3d .cube-container .side.back {
        background: #1abc9c;
        transform: translateZ(-125px); }
      .cube-3d .cube-container .side.left {
        background: #3498db;
        transform: translateX(-125px) rotateY(90deg); }
      .cube-3d .cube-container .side.right {
        background: #9b59b6;
        transform: translateX(125px) rotateY(90deg); }
      .cube-3d .cube-container .side.top {
        background: #e74c3c;
        transform: translateY(-125px) rotateX(90deg); }
      .cube-3d .cube-container .side.bottom {
        background: #e74c3c;
        transform: translateY(125px) rotateX(90deg); }
  .cube-3d .btn {
    display: inline-block;
    background: #000;
    padding: 12px 25px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer; }
  .cube-3d nav {
    position: fixed;
    bottom: 0;
    left: 0; }

/*# sourceMappingURL=style.css.map */
