html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin-top: 80px;
  line-height: initial; }

h1, h2, h3, h4, h5, h6, ul, li, p, a, div, a {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-weight: normal; }

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.site-header {
  background: #33495D;
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%; }

.site-header .logo {
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
  margin-top: 10px;
  font-weight: 700; }

.site-header .menu {
  float: right;
  margin-right: 15px; }

.site-header .menu li {
  display: inline-block;
  margin: 0 -2px;
  position: relative; }

.site-header .menu a.current-page {
  background-color: #fff;
  color: #33495D; }

.site-header .menu li a {
  color: #ffffff;
  display: block;
  padding: 16px 19px 16px 16px;
  font-size: 16px; }

.site-header .menu li a:hover {
  background-color: #fff;
  color: #33495D; }

.site-content {
  margin-top: 30px; }

.site-content .left-bar {
  width: 70%; }

.site-content .right-bar {
  float: right;
  width: 25%; }

.post {
  padding-bottom: 35px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 35px; }

.post:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 50px; }

.post .avatar {
  width: 100%;
  position: relative;
  z-index: 0;
  background: #000000;
  overflow: hidden; }

.post .avatar .overlay {
  top: 100%;
  left: 0;
  transition: all .5s ease; }

.post .avatar:hover .overlay {
  top: 0; }

.post .avatar .info {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background: #e74c3c;
  padding: 12px 20px; }

.post .avatar img {
  width: 100%;
  display: block;
  border-radius: 3px;
  opacity: 1;
  transition: opacity .3s ease-in-out; }

.post .title {
  font-size: 25px;
  margin-top: 15px;
  font-weight: 700; }

.post p {
  margin-top: 10px;
  line-height: 170%;
  font-size: 15px; }

.post .btn-container {
  margin-top: 10px;
  text-align: right; }

.post .btn {
  display: inline-block;
  background: #33495D;
  color: #ffffff;
  padding: 12px 25px;
  border-radius: 3px;
  transition: background .5s ease; }

.post .btn:hover {
  background: #2c5779; }

.right-item {
  background-color: #33495D;
  padding: 20px;
  color: #fff;
  margin-bottom: 50px; }

.right-item .title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

.right-item ul {
  margin-top: 20px; }

.right-item li a {
  display: block;
  color: #fff;
  margin: 5px 0;
  padding: 5px; }

.right-item li a:hover {
  background-color: #466480; }

.divider {
  margin-top: 50px;
  margin-bottom: 50px; }

.site-footer {
  margin-top: 80px;
  background: #33495D;
  clear: both; }

.site-footer p {
  color: #fff; }

.footer-item {
  box-sizing: border-box;
  padding: 20px;
  float: left;
  width: 25%;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 20px; }

.footer-item input {
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-shadow: none;
  border: none;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-bottom: 10px; }

.footer-item .btn-container {
  text-align: center;
  margin-top: 10px; }

.footer-item .btn-container .btn {
  display: inline-block;
  background: #fff;
  color: #33495D;
  padding: 12px 25px;
  border-radius: 3px;
  transition: background .5s ease;
  width: 100%;
  position: relative;
  padding-right: 58px; }

.footer-item .btn-container .btn img {
  position: absolute;
  top: 9px;
  right: 58px;
  width: 24px; }

.footer-item .btn-container .btn:hover {
  background: #dedede; }

textarea {
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
  border-radius: 3px; }

.site-header .menu li:hover .sub-menu {
  visibility: visible;
  top: 100%;
  opacity: 1; }

.site-header .menu .sub-menu li {
  display: block;
  position: relative;
  margin: 0 0; }

.site-header .menu li .sub-menu {
  visibility: hidden;
  background-color: #466480;
  width: 100%;
  position: absolute;
  top: 80%;
  left: 0;
  transition: all .6s ease;
  opacity: 0; }

.sub-sub-menu {
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  background-color: #3498db;
  transition: all .3s ease;
  opacity: 0; }

.site-header .menu li .sub-menu li:hover .sub-sub-menu {
  visibility: visible;
  opacity: 1; }

.clear-fix:before, .clear-fix:after {
  content: " ";
  display: table; }

.clear-fix:after {
  clear: both; }

.banner {
  position: fixed;
  top: 300px;
  right: -350px;
  background: #2c5779;
  width: 400px;
  padding: 25px;
  transition: right .5s ease-in-out; }

.banner:hover {
  right: 0; }

.banner .title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; }

.banner p {
  color: #fff;
  line-height: 170%; }

.template .template-container {
  position: relative;
  height: 100%; }
  .template .template-container:hover .overlay {
    visibility: visible;
    opacity: 1; }
  .template .template-container .overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: all .3s ease; }
    .template .template-container .overlay .btn-container {
      align-self: center; }
      .template .template-container .overlay .btn-container a {
        background-color: #e74c3c;
        padding: 12px 35px;
        width: 100px;
        color: #fff;
        font-size: 24px; }
.template img {
  width: 100%; }

* {
  box-sizing: border-box; }

body {
  font-family: Muli, sans-serif;
  color: #40464f; }

.container {
  width: 1200px;
  margin: 0 auto; }

h1 {
  font-size: 50px;
  line-height: 1.28; }

h2 {
  width: 100%;
  font-size: 35px;
  color: #40464f; }

h3 {
  font-size: 26px;
  color: #40464f; }

.text-container {
  margin: 30px 0; }

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0; }

/**
  Lesson 2 homework
 */
.img-background {
  height: 400px;
  width: 100%;
  background: url("../img/desert.jpeg") no-repeat center;
  background-size: cover;
  display: table;
  position: relative; }
  .img-background .img-text {
    display: table-cell;
    padding: 150px;
    font-size: 38px;
    color: #fff;
    vertical-align: middle; }
    .img-background .img-text p {
      text-align: center;
      position: relative; }
      .img-background .img-text p::after {
        content: close-quote;
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: grey; }
      .img-background .img-text p::before {
        content: open-quote;
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: grey; }
    .img-background .img-text .quote-author {
      font-size: 80%;
      font-style: italic;
      text-align: right; }

.cube-3d {
  perspective: 2500px;
  perspective-origin: -600px -1000px;
  height: 100%; }
  .cube-3d .cube-container {
    transform-style: preserve-3d;
    position: relative;
    height: 250px;
    width: 250px;
    margin: 300px auto; }
    .cube-3d .cube-container .side {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .cube-3d .cube-container .side.front {
        background: #1abc9c;
        transform: translateZ(125px); }
      .cube-3d .cube-container .side.back {
        background: #1abc9c;
        transform: translateZ(-125px); }
      .cube-3d .cube-container .side.left {
        background: #3498db;
        transform: translateX(-125px) rotateY(90deg); }
      .cube-3d .cube-container .side.right {
        background: #3498db;
        transform: translateX(125px) rotateY(90deg); }
      .cube-3d .cube-container .side.top {
        background: #e74c3c;
        transform: translateY(-125px) rotateX(90deg); }
      .cube-3d .cube-container .side.bottom {
        background: #e74c3c;
        transform: translateY(125px) rotateX(90deg); }
  .cube-3d .btn {
    display: inline-block;
    background: #000;
    padding: 12px 25px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer; }
  .cube-3d nav {
    position: fixed;
    bottom: 0;
    left: 0; }

.equation sup {
  vertical-align: super; }
.equation h3 {
  margin-bottom: 20px; }
.equation input[type=numer] {
  width: 10px; }

/*# sourceMappingURL=style.css.map */
