*{
  box-sizing: border-box;
}
body{
  font-family: Muli, sans-serif;
  color: #40464f;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
h1{
  font-size: 50px;
  line-height: 1.28;
}
h2{
  width: 100%;
  font-size: 35px;
  color: #40464f;
}
h3{
  font-size: 26px;
  color: #40464f
}
.text-container{
  margin: 30px 0;
}
