.cube-3d{
  perspective: 2500px;
  //perspective-origin: -600px -1000px;

  .cube-container{
    transform-style: preserve-3d;
    position: relative;
    //background: #000;
    height:300px;
    width: 300px;
    margin:70px auto;
    .side{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &.front{
        background: #1abc9c;
        transform: translateZ(150px);
      }
      &.back{
        background: #1abc9c;
        transform: translateZ(-150px);
      }
      &.left{
        background: #3498db;
        transform: translateX(-150px) rotateY(90deg);
      }
      &.right{
        background: #9b59b6;
        transform: translateX(150px) rotateY(90deg);
      }
      &.top{
        background:  #e74c3c;
        transform: translateY(-150px) rotateX(90deg);
      }
      &.bottom{
        background: #e74c3c;
        transform: translateY(150px) rotateX(90deg);
      }
    }
  }
  .btn{
    display: inline-block;
    background: #000;
    padding: 12px 25px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
}
@keyframes moveUp {
  0% { transform: translateZ(-150px) rotateX(0deg); }
  100% { transform: translateZ(-150px) rotateX(90deg); }

}