.cube-3d{
  perspective: 2500px;
  perspective-origin: -600px -1000px;

  .cube-container{
    transform-style: preserve-3d;
    position: relative;
    background: #000;
    height:250px;
    width: 250px;
    margin:100px auto;
    .side{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &.front{
        background: rgba(34,98,219, 0.5);
        transform: translateZ(125px);
      }
      &.back{
        background: rgba(34,98,219, 0.5);
        transform: translateZ(-125px);
      }
      &.left{
        background: rgba(34,98,219, 0.5);
        transform: translateX(-125px) rotateY(90deg);
      }
      &.right{
        background: rgba(34,98,219, 0.5);
        transform: translateX(125px) rotateY(90deg);
      }
      &.top{
        background:  rgba(34,98,219, 0.5);
        transform: translateY(-125px) rotateX(90deg);
      }
      &.bottom{
        background: rgba(34,98,219, 0.5);
        transform: translateY(125px) rotateX(90deg);
      }
    }
  }
  .btn{
    display: inline-block;
    background: #000;
    padding: 12px 25px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
}