$side-width: 250px;
$half-side: $side-width/2;
.cube-3d{
  perspective: 2500px;
  perspective-origin: -600px -1000px;
  height: 100%;

  .cube-container{
    transform-style: preserve-3d;
    position: relative;
    //background: #000;
    height:$side-width;
    width: $side-width;
    margin:300px auto;
    .side{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &.front{
        background: #1abc9c;
        transform: translateZ($half-side);
      }
      &.back{
        background: #1abc9c;
        transform: translateZ(-$half-side);
      }
      &.left{
        background: #3498db;
        transform: translateX(-$half-side) rotateY(90deg);
      }
      &.right{
        background: #3498db;
        transform: translateX($half-side) rotateY(90deg);
      }
      &.top{
        background:  #e74c3c;
        transform: translateY(-$half-side) rotateX(90deg);
      }
      &.bottom{
        background: #e74c3c;
        transform: translateY($half-side) rotateX(90deg);
      }
    }
  }                                   
  nav{
    position: fixed;
    bottom: 0;
    left: 0;
    
  }
}
