/**
  Lesson 2 homework
 */

.img-background {
  height: 400px;
  width: 100%;
  background: url('../img/desert.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  position: relative;
  &::after{
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left: 0;
  }
  .img-text{
    display: table-cell;
    padding: 150px;
    font-size: 38px;
    color: #fff;
    vertical-align: middle;
    p{
      text-align: center;
      position: relative;
      z-index: 10;
      &::after{
        content: close-quote;
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: grey;
      }
      &::before{
        content: open-quote;
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: grey;
      }
    }
    .quote-author{
      z-index: 15;
      font-size: 80%;
      font-style: italic;
      text-align: right;
    }
  }
}
